<template>
  <div>
    <b-navbar class="container" :type="allOK() > 0 ? 'is-danger' : 'is-success'">
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          <img alt="Logo" src="../assets/logo.png">
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item href="#">
          Borgbackup dashboard
        </b-navbar-item>
      </template>

      <template slot="end">
        <b-navbar-item tag="div">
          <span v-if="allOK() === 0">
            All’s fine!
          </span>
          <span v-else-if="allOK() === 1">
            One server has backup issues
          </span>
          <span v-else>
            {{ allOK() }} servers have backup issues
          </span>
        </b-navbar-item>
        <b-navbar-item tag="div">
          <span>Last update on {{ data.timestamp | timestamp }}</span>
          <span v-if="this.$options.filters.diffDays(data.timestamp.toString()) > 0">
            (il y a {{ data.timestamp.toString() | diffDays }})
          </span>
        </b-navbar-item>
      </template>
    </b-navbar>
    <div class="dashboard" v-if="servers">
      <b-table
        :data="servers"
        ref="table"
        detailed
        show-detail-icon
        detail-key="name"
        :row-class="(row, index) => row.tooOld ? 'is-danger' : 'is-success'"
        sort-icon="chevron-up"
      >
        <template slot-scope="{ row }">
          <b-table-column field="name" label="Server" sortable>
            <template>
              <a @click="toggle(row)">
                {{ row.name }}
              </a>
            </template>
          </b-table-column>

          <b-table-column field="lastBackup" label="Last backup" sortable>
            {{ row.lastBackup | timestamp }}
            <span v-if="row.tooOld">
              (il y a {{ row.lastBackup | diffDays }} jours)
            </span>
          </b-table-column>
        </template>

        <template slot="detail" slot-scope="{ row }">
          <div class="list is-hoverable">
            <span
              class="list-item"
              :key="backup"
              v-for="backup in row.backups">
              {{ backup | timestamp }}
            </span>
          </div>
        </template>
      </b-table>
    </div>
    <b-message v-else type="is-danger" aria-close-label="Close message">
      Error while loading data
    </b-message>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Server from '@/models/server';

@Component({
  filters: {
    timestamp(value: string) {
      const intValue = parseInt(value, 10) * 1000;
      return (new Date(intValue)).toLocaleDateString(undefined, {
        year: 'numeric', month: 'long', day: 'numeric', weekday: 'long', hour: 'numeric', minute: 'numeric',
      });
    },
    diffDays(value: number) {
      const now = Date.now() / 1000;
      return Math.trunc((now - value) / 3600 / 24);
    },
  },
})
export default class Dashboard extends Vue {
    data: { servers: object} = { servers: [] };

    async mounted() {
      try {
        const response = await fetch('data.json');
        if (!response.ok) throw new Error(response.statusText);
        this.data = await response.json();
      } catch (e) {
        console.error(e);
      }
    }

    get servers(): Server[] {
      const rawEntries = Object.entries(this.data.servers);
      const entries = rawEntries.map(([name, serverData]) => {
        const backups = serverData.backups.slice().reverse() as number[];
        return {
          name, tooOld: serverData.too_old === 1, backups, lastBackup: backups[0],
        };
      });
      return entries.sort((a, b) => {
        if (a.tooOld > b.tooOld) return -1;
        if (a.tooOld < b.tooOld) return 1;

        if (a.lastBackup > b.lastBackup) return -1;
        if (a.lastBackup < b.lastBackup) return 1;
        return 0;
      });
    }

    toggle(row: any) {
      const table = this.$refs.table as any;
      table.toggleDetails(row);
    }

    allOK(): number {
      return this.servers.reduce((acc, server) => {
        if (server.tooOld) {
        // eslint-disable-next-line no-plusplus, no-param-reassign
          acc++;
        }
        return acc;
      }, 0);
    }
}
</script>

<style lang="scss">
  tr{
    &.is-danger {
      background: hsl(348, 100%, 61%) ;
      color: #fff;
    }

    &.is-success {
      background: hsl(141, 71%, 48%);
      color: #fff;
    }

    a {
      color: #fff;
    }
  }
</style>
